# Node.js dependencies
node_modules/

# Expo-specific files
.expo/
dist/
web-build/
expo-env.d.ts

# Native build files
.android/
.ios/
.kotlin/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro bundler
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS system files
.DS_Store
*.pem

# Environment variables
.env
.env*.local

# TypeScript build info
*.tsbuildinfo

# Example files
app-example

# Temporary or backup files
*.orig.*
